{% extends "base.html" %}

{% block content %}
 {% load static %} 
  <section class='hero'>
    <h1>Welcome to My Portfolio</h1>
    <p>Explore my projects and get to know more about me.</p>
    </section>

  <section class='projects'>
    <div class='project-grid'> 
      <div class='project-card'>
        <img src="{% static 'images/hero.png' %}" alt='hero'>
        <h1>Project 1</h1>
          </div>
      </div>
    <div class='project-grid'> 
      <div class='project-card'>
        <img src="{% static 'images/hero.png' %}" alt='hero'>
        <h1>Project 2</h1>
          </div>
      </div>
    <div class='project-grid'> 
      <div class='project-card'>
        <img src="{% static 'images/hero.png' %}" alt='hero'>
        <h1>Project 3</h1>
          </div>
      </div>
    <div class='project-grid'> 
      <div class='project-card'>
        <img src="{% static 'images/hero.png' %}" alt='hero'>
        <h1>Project 4</h1>
          </div>
      </div>
 
    
    </section>
  
{% endblock %}